<script>
    // For the curious.
    console.log(
        '%c\n' +
        ' _____     _ _          ____ _____ _____\n' +
        '|_   _| __(_) |__   ___/ ___|_   _|  ___|\n' +
        '  | || \'__| | \'_ \\ / _ \\ |    | | | |_\n' +
        '  | || |  | | |_) |  __/ |___ | | |  _|\n' +
        '  |_||_|  |_|_.__/ \\___|\\____| |_| |_|   2026\n',
        'color:#00fff9'
    );
    console.log(
        '%cStill poking around after the flags are gone? We like that.\n' +
        'Here\'s a souvenir: ZmxhZ3tjMG5zMGwzX2Mwd2IweV9zMzNzXzRsbH0=\n' +
        'TribeCTF 2026 is a wrap. We\'ll be back next year with another one just as fun, see you in 2027!',
        'color:#7ee787'
    );
</script>
