<script>
    // For the curious.
    console.log(
        '%c\n' +
        ' _____     _ _          ____ _____ _____\n' +
        '|_   _| __(_) |__   ___/ ___|_   _|  ___|\n' +
        '  | || \'__| | \'_ \\ / _ \\ |    | | | |_\n' +
        '  | || |  | | |_) |  __/ |___ | | |  _|\n' +
        '  |_||_|  |_|_.__/ \\___|\\____| |_| |_|   2026\n',
        'color:#00fff9'
    );
    {{- if ne .RelPermalink "/rules/" }}
    console.log(
        '%cPoking around before the competition even starts? We like that.\n' +
        'Here\'s a warm-up: ZmxhZ3tjMG5zMGwzX2Mwd2IweV9zMzNzXzRsbH0=\n' +
        'Bring that energy on October 3-4 >> {{ absURL "registration" }}',
        'color:#7ee787'
    );
    {{- end }}
</script>
