<!-- Google Site Verification -->
<meta name="google-site-verification" content="iKPbyD_knjOrZXIDwUzBLGpqngcNRzKXaFr-b-x7jxw" />

<!-- Meta description -->
<meta name="description"
  content="Join the annual TribeCTF, a Capture The Flag competition at William & Mary. Test your cybersecurity skills and compete with peers in this exciting event.">

<!-- Keywords (use sparingly, as they're less important for modern SEO) -->
<meta name="keywords"
  content="TribeCTF, William & Mary, Capture The Flag, cybersecurity competition, hacking challenge">


<!-- Open Graph meta tags for social media sharing -->
<meta property="og:title" content="TribeCTF - Annual CyberSecurity Competition at William & Mary">
<meta property="og:description"
  content="Participate in William & Mary's annual Capture The Flag competition. Challenge yourself and learn cybersecurity skills!">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tribectf.cs.wm.edu">
<meta property="og:image"
  content="{{ "cover.jpg" | absURL }}">

<!-- Twitter Card meta tags for Twitter sharing -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="TribeCTF - Annual CTF at William & Mary">
<meta name="twitter:description"
  content="Join William & Mary's annual Capture The Flag competition. Test your cybersecurity skills!">
<meta name="twitter:image"
  content="{{ "cover.jpg" | absURL }}">
